body{
  background-color: indigo;
}

.container{
  height: 100%;
  width: 100%;
}
.navbar ul li {
  font-size: medium;
  list-style: none;
  cursor: pointer;
}

.navbar{
  background-color: lightskyblue;
  position:fixed; top: 0; left: 0; width: 100%;
}

