body{
  background-color: indigo;
}

.container{
  height: 100%;
  width: 100%;
}
.navbar{
  background-color: lightskyblue;
  height: 100px;
  width: 100px;
position: absolute top;
}

.navbar ul{
  display: inline-flex;
  margin: 50px;
}
.navbar ul li{
  list-style: none;
  margin: 0 20px;
  color: #bd17ff;
}
