body{
  background-color: #42455a;
  max-height: 100%;
  max-width: 100%;
  min-width: 1000px;
  min-height: 1000px;
}

.container{
  max-height: 100%;
  max-width: 100%;
  min-width: 1000px;
 min-height: 1000px;
}
.sidenav{
  background-color: aquamarine;
}
.sidenav ul li {
  margin-left: -20px;
  font-family: sans-serif;
  font-size: large;
  list-style: none;
  cursor: pointer;
  color:black;
  margin-bottom: 20px;
}

.sidenav a:hover {
  background-color: red;
}
.sidenav .logo img{
  margin-top: -25px;
  max-height: 100px;
  max-width: 100px;
}
.sidenav {
  height: 100%; 
  width: 8%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: rgb(0, 252, 218); 
  overflow-x: hidden; 
  padding-top: 1%;
}
.header img{
  cursor: pointer;
  margin-top: -8px;
  max-height: 200px;
  max-width: 1250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}